* {
    padding: 0;
}

h1{
    color: green;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paragrafo {
    background-color: lightblue;
}

#menu {
    margin-left: 100px;
}

.titulo{
    font-size: 30px;
}

.titulo.vermelho{
    color: red;
}

.titulo.laranja{
    color: orange;
}

p, span{
    font-size: 10px;
}

.sobre .texto{
    color: aquamarine;
    background-color: black;
}

.exemplo{
    font-size: 10px;
}

.twoClasses{
    font-size: 12px;    
}

div > p {
    color: purple;
    background-color: lightgrey;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

li {
    margin-left: 30px;
}

div + p {
    color: yellow;
    background-color: black;
}

a[target="_blank"] {
    color: red;
}
