*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    cursor: progress;
}

a:visited {
    color: yellow;
}

a:active {
    color: green;
}

a:hover{
    background-color:black;
    color: purple;
}
